<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojodachi</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div id="main">
            <div id="stats">
                <p>Fullness: @ViewBag.Fullness | Happiness: @ViewBag.Happiness | Meals: @ViewBag.Meals | Energy: @ViewBag.Energy</p>
            </div>
            <div id="dojodachi">
                @{
                    if(ViewBag.Mood == "Normal"){
                        <img src="~/css/dojodachi.jpeg">
                    }
                    else if(ViewBag.Mood == "Sad") {
                        <img src="~/css/sit.jpg">
                    }
                    else if(ViewBag.Mood == "Play") {
                        <img src="~/css/play.jpg">
                    }
                }
                <h4>@ViewBag.Message</h4>
            </div>
            <div id="buttons">
                @{
                    if(ViewBag.Status == "Play") {
                        <button><a href="Feed">Feed</a></button>
                        <button><a href="Play">Play</a></button>
                        <button><a href="Work">Work</a></button>
                        <button><a href="Sleep">Sleep</a></button>
                    }
                    else if(ViewBag.Status == "Done") {
                        <button id="reset"><a href="Reset">Reset</a></button>
                    }
                }
            </div>
        </div>
    </body>
</html>